include planes/VeraBd.ttf
include planes/Vera.ttf
include doc/apidocs.css
include doc/classIndex.html
include doc/planes.Display.html
include doc/planes.gui.Button.html
include doc/planes.gui.Container.html
include doc/planes.gui.GetStringDialog.html
include doc/planes.gui.html
include doc/planes.gui.Label.html
include doc/planes.gui.OkBox.html
include doc/planes.gui.Option.html
include doc/planes.gui.OptionList.html
include doc/planes.gui.OptionSelector.html
include doc/planes.gui.OutlinedText.html
include doc/planes.gui.ScrollingPlane.html
include doc/planes.gui.TextBox.html
include doc/planes.html
include doc/planes.__init__.html
include doc/planes.Plane.html
include doc/index.html
include doc/moduleIndex.html
include doc/nameIndex.html
include doc/undoccedSummary.html
include NEWS
