include clickndrag/VeraBd.ttf
include clickndrag/Vera.ttf
include doc/apidocs.css
include doc/classIndex.html
include doc/clickndrag.Display.html
include doc/clickndrag.gui.Button.html
include doc/clickndrag.gui.Container.html
include doc/clickndrag.gui.GetStringDialog.html
include doc/clickndrag.gui.html
include doc/clickndrag.gui.Label.html
include doc/clickndrag.gui.OkBox.html
include doc/clickndrag.gui.Option.html
include doc/clickndrag.gui.OptionList.html
include doc/clickndrag.gui.OptionSelector.html
include doc/clickndrag.gui.OutlinedText.html
include doc/clickndrag.gui.ScrollingPlane.html
include doc/clickndrag.gui.TextBox.html
include doc/clickndrag.html
include doc/clickndrag.__init__.html
include doc/clickndrag.Plane.html
include doc/index.html
include doc/moduleIndex.html
include doc/nameIndex.html
include doc/undoccedSummary.html
include NEWS
