include doc/apidocs.css
include doc/classIndex.html
include doc/index.html
include doc/moduleIndex.html
include doc/nameIndex.html
include doc/planes.Display.html
include doc/planes.gui.Button.html
include doc/planes.gui.Container.html
include doc/planes.gui.FadingContainer.html
include doc/planes.gui.GetStringDialog.html
include doc/planes.gui.html
include doc/planes.gui.__init__.html
include doc/planes.gui.Label.html
include doc/planes.gui.lmr.html
include doc/planes.gui.lmr.LMRButton.html
include doc/planes.gui.lmr.LMROption.html
include doc/planes.gui.lmr.LMROptionList.html
include doc/planes.gui.lmr.LMRPlusMinusBox.html
include doc/planes.gui.lmr.LMRStyle.html
include doc/planes.gui.lmr.LMRWidget.html
include doc/planes.gui.OkBox.html
include doc/planes.gui.Option.html
include doc/planes.gui.OptionList.html
include doc/planes.gui.OptionSelector.html
include doc/planes.gui.OutlinedText.html
include doc/planes.gui.PlusMinusBox.html
include doc/planes.gui.ScrollingPlane.html
include doc/planes.gui.TextBox.html
include doc/planes.gui.tmb.html
include doc/planes.gui.tmb.TMBContainer.html
include doc/planes.gui.tmb.TMBFadingContainer.html
include doc/planes.gui.tmb.TMBGetStringDialog.html
include doc/planes.gui.tmb.TMBOkBox.html
include doc/planes.gui.tmb.TMBOptionSelector.html
include doc/planes.gui.tmb.TMBStyle.html
include doc/planes.html
include doc/planes.__init__.html
include doc/planes.Plane.html
include doc/undoccedSummary.html
include NEWS
include planes/gui/resources/button-black-32px-l.png
include planes/gui/resources/button-black-32px-m.png
include planes/gui/resources/button-black-32px-r.png
include planes/gui/resources/button-grey-32px-l.png
include planes/gui/resources/button-grey-32px-m.png
include planes/gui/resources/button-grey-32px-r.png
include planes/gui/resources/button-orange-32px-l.png
include planes/gui/resources/button-orange-32px-m.png
include planes/gui/resources/button-orange-32px-r.png
include planes/gui/resources/button-white-32px-l.png
include planes/gui/resources/button-white-32px-m.png
include planes/gui/resources/button-white-32px-r.png
include planes/gui/resources/container-128px-b.png
include planes/gui/resources/container-128px-m.png
include planes/gui/resources/container-128px-t.png
include planes/gui/resources/container-256px-b.png
include planes/gui/resources/container-256px-m.png
include planes/gui/resources/container-256px-t.png
include planes/gui/resources/container-512px-b.png
include planes/gui/resources/container-512px-m.png
include planes/gui/resources/container-512px-t.png
include planes/gui/resources/option-grey-32px-l.png
include planes/gui/resources/option-grey-32px-m.png
include planes/gui/resources/option-grey-32px-r.png
include planes/gui/resources/option-orange-32px-l.png
include planes/gui/resources/option-orange-32px-m.png
include planes/gui/resources/option-orange-32px-r.png
include planes/gui/resources/VeraBd.ttf
include planes/gui/resources/Vera.ttf
